# IDEs metadata
.idea
cmake-build-debug

# Python related
__pycache__/
.ipynb_checkpoints/
.eggs/
dist/
pystospa.egg-info/
test.ipynb

# Build directory
build/
_skbuild/

# Other files
*.dat
notes.md
src/version.hpp
pystospa/src/version.hpp
pystostaboost/src/version.hpp

# JOSS paper (already present in master branch)
docs/joss_paper/
